<main class="container mt-4">
  <app-header></app-header>
  <br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <div class="input-group mb-3 md:mb-4">
          <input type="text" class="form-control" placeholder="Add a To do" aria-label="Add a To do"
            aria-describedby="button-addon2" [(ngModel)]="newTodo">
          <button class="btn  btn-primary" type="button" id="button-addon2" (click)="saveTodo()">Add</button>
        </div>
        <table class="table bg-light">

          <tbody>
            <tr *ngFor="let todo of todos;let i = index;">
              <th scope="row">{{i+1}}</th>
              <td class="{{todo.isComplete?'complete':''}}" (click)="handleComplete(i)">{{todo.name}}</td>
              <td><img src="../assets/trash-can-icon.png" style="width: 1.5rem;" (click)="handleDelete(i)" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
